
     @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
     body{
        
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
     }
     h1{
        color: white;
        font-family: 'Amarante';font-size: 25px;
        text-align: center;
            
    }
    span{
        color: white;
        font-family: 'Basic';font-size:18px;
    }
    .form-control{
        font-family: 'Sofia';font-size:14px;
     }
     input{
        font-family: 'Alegreya SC';font-size: 22px;
        background-color: white;
        border-radius: 6px;
        
     }
     form{
         
         border-color: black;
         width: 400px;
         border-width: 2px;
         border-radius: 10px;
         background-color: black;
         margin: 10px 10px 40px 30px;
         padding: 10px 50px 40px 30px;
         margin: 0px auto;
         

     }
     label{
        color: blanchedalmond;
    }
    fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
 border: none;
 float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
 margin: 5px;
 font-size: 1.25em;
 font-family: FontAwesome;
 display: inline-block;
 content: "\f005";
}

.rating > .half:before { 
 content: "\f089";
 position: absolute;
}

.rating > label { 
 color: #ddd; 
float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

    
    
    